[mysqld]
character_set_server = utf8
collation_server     = utf8_unicode_ci         
general_log          = 1                       
general_log_file     = /var/log/mysql/query.log
log-error            = /var/log/mysql/error.log

[client]
default-character-set = utf8
